@define-color bg #1f2329;
@define-color bg1 #282c34;
@define-color bg2 #30363f;
@define-color bg3 #323641;
@define-color bg_blue #61afef;
@define-color bg_d #181b20;
@define-color bg_yellow #e8c88c;
@define-color black #0e1013;
@define-color blue #4fa6ed;
@define-color cyan #48b0bd;
@define-color dark_cyan #266269;
@define-color dark_purple #7e3992;
@define-color dark_red #8b3434;
@define-color dark_yellow #835d1a;
@define-color fg #ffffff;
@define-color green #8ebd6b;
@define-color grey #535965;
@define-color light_grey #7a818e;
@define-color orange #cc9057;
@define-color purple #bf68d9;
@define-color red #e55561;
@define-color yellow #e2b86b;

* {
  font-family: "JetBrainsPropo Nerd Font", monospace;
  font-weight: 800;
  font-size: 11px;
  margin: 0;
  padding: 0;
}

window#waybar {
  background: rgba(40, 44, 52, 0);
  color: @fg;
  border-radius: 5px;
  border: none;
  padding: 0 2px;
}

#workspaces {
  margin-left: 0.5em;
  padding: 0.2em 0.2em 0 1.7em;
  border-radius: 0 0 0 5em;
  background: @bg1;
}

#workspaces > button {
  font-weight: bold;
  border-radius: 0 0 0 1.3em;
  padding: 0 0 0 0.6em;
  margin: 0 0.1em;
  color: @fg;
  background: @bg1;
}

#workspaces > button.active {
  font-size: 1em;
  border-bottom: 0.4em solid @blue;
}

#workspaces > button.urgent {
  color: @bg1;
  background: @red;
}

#window {
  background: @bg1;
  padding: 0 1em;
  border-radius: 0 5em 0 0;
}

#tray {
  font-size: 1em;
  padding: 0 1em 0 0.5em;
  border-radius: 0 0 5em 0;
  background: @bg2;
  border-bottom: 0.4em solid @light_grey;
}

#clock,
#custom-clock-icon,
#custom-notification {
  border-bottom: 0.4em solid @light_grey;
}

#clock,
#pulseaudio.value,
#backlight.value,
#network.value,
#memory.value,
#cpu.value {
  font-size: 1em;
  padding: 0 0.5em 0 0.2em;
  background: @bg2;
}

#custom-clock-icon,
#custom-mic,
#pulseaudio.source,
#pulseaudio.icon,
#backlight.icon,
#network.icon,
#memory.icon,
#cpu.icon,
#battery.icon {
  font-size: 1em;
  padding: 0 0.9em 0 0.5em;
  background: @bg3;
}

#custom-notification {
  border-radius: 0 0 0 5em;
  font-size: 1em;
  padding: 0 1em 0 2em;
  background: @bg2;
}

#battery.icon,
#battery.value {
  background: @bg2;
  border-bottom: 0.4em solid @blue;
}

#battery.icon {
  color: @blue;
}

#battery.icon.warning,
#battery.value.warning {
  border-bottom: 0.4em solid @yellow;
  color: @yellow;
}

#battery.icon.critical,
#battery.value.critical {
  border-bottom: 0.4em solid @red;
  color: @red;
}

#battery.icon.charging,
#battery.value.charging {
  border-bottom: 0.4em solid @green;
  color: @green;
}

#battery.value,
#battery.value.charging,
#battery.value.warning
{
  color: @fg;
  padding: 0 2em 0 0;
  border-radius: 0 0 5em 0;
}

#memory.icon,
#memory.value {
  border-bottom: 0.4em solid @red;
}

#memory.icon {
  color: @red;
}

#cpu.icon,
#cpu.value {
  border-bottom: 0.4em solid @yellow;
}

#cpu.icon {
  color: @yellow;
}

#network.icon,
#network.value {
  border-bottom: 0.4em solid @green;
}

#network.icon {
  color: @green;
}

#backlight.icon,
#backlight.value {
  border-bottom: 0.4em solid @yellow;
}

#backlight.icon {
  color: @yellow;
}

#pulseaudio.icon,
#pulseaudio.value {
  border-bottom: 0.4em solid @orange;
}

#pulseaudio.icon {
  padding-left: 1em;
  color: @orange;
}

#pulseaudio.icon.muted {
  color: @grey;
}

#custom-mic {
  color: @orange;
}

#custom-disk,
#disk.icon,
#disk.value {
  background: @bg2;
  border-bottom: 0.4em solid @red;
}

#disk.icon {
  padding: 0 0 0 2em;
  border-radius: 5em 0 0 0;
  background: @bg3;
  color: @red;
}

#modules-right {
  background: @bg1;
}
